.app {
  min-height: 100vh;
  /* background-color: rgb(26, 26, 26); */
  background-color: #1f1f1f;

}

/* intro */

.hive-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #070a0c;
  font-size: 20px;
}

.slide-top {
  -webkit-animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);

  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);

  }

  51% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;

  }

  70% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #36827F,
      0 0 40px #36827F,
      0 0 50px #36827F,
      0 0 60px #36827F,
      0 0 70px #36827F;
    z-index: 1;
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
    text-shadow:
      0 0 20px #fff,
      0 0 30px #3CA69A,
      0 0 40px #3CA69A,
      0 0 50px #3CA69A,
      0 0 60px #3CA69A,
      0 0 70px #3CA69A,
      0 0 80px #3CA69A;
    z-index: -1;
    display: none;
  }
}

/* background */


.fade-out {
  -webkit-animation: fade-out 5s ease-out both;
  animation: fade-out 5s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  50% {
    opacity: 1;
  }

  99% {
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}



input {
  /* background-color: rgb(13, 13, 13); */
  background-color: #2f2f2f;
}

.navbar {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
  align-items: center;
  font-size: 17px;
  font-family: monospace;
  font-weight: 600;
}

.navbar div {
  padding-inline: 10px;
  padding-block: 10px;
}

.navItem {
  color: #0e404d;
  font-style: none;
  text-decoration: none;
  transition: 0.8s;

}

.active {
  color: #219ebc;
  text-shadow: 2px 2px 4px #132934;
  ;
}

.mainSection {
  margin-inline: 20px;
  border-inline: 2px solid;
  border-top: 2px solid;
  /* border-color: rgb(91, 91, 91); */
  border-color: #272d2d;
  padding: 10px;
  padding-block: 50px;
  /* min-height: 90%; */
}

/* home-dashboard */
.dashboard-welcome {
  text-align: center;
}

.dashboard-welcome-message {
  font-size: xx-large;
  font-family: monospace;
}

/* .hive-dashboard{

} */

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow:
      0 0 5px #fff,
      0 0 7px #fff,
      0 0 9px #36827F,
      0 0 11px #36827F,
      0 0 13px #36827F,
      0 0 15px #36827F,
      0 0 17px #36827F;
  }

  to {
    text-shadow:
      0 0 5px #dafdfc,
      0 0 7px #3CA69A,
      0 0 9px #3CA69A,
      0 0 11px #3CA69A,
      0 0 13px #3CA69A,
      0 0 15px #3CA69A,
      0 0 17px #3CA69A;
  }
}




/* Registration/login section */
.header {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 40px;

}

.heading {
  text-align: center;
  font-size: xxx-large;
  font-weight: 600;
  margin-bottom: 20px;
  /* color: #8f8f8f; */
  color: #284B63;
  font-family: serif;
}

.account_type {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.account_type a {
  text-align: center;
  color: #b0b0b0;
  padding-inline: 25px;
  padding-block: 10px;
  transition: 0.3s ease;
}

.account_type a:hover {
  box-shadow: 0 4px 16px rgba(209, 166, 255, 0.833);
  background-color: rgb(101, 78, 219);
  color: #1e1e1e;
}

.about {
  color: #b0b0b0;
  width: 300px;
  text-align: justify;
  padding-top: 20px;
  /* border: 1px solid red; */
  transition: display 1s ease;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  /* margin: 20px; */
}

.form-box {
  /* background-color: #fff; */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(138, 98, 181, 0.396);
  width: 100%;
  max-width: 400px;
  margin-top: 50px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #727272;
}

.input-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #1e1e1e;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  color: #4a5762;
}

.input-group input:focus {
  border-color: #007BFF;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .form-box {
    padding: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .input-group label {
    font-size: 12px;
  }

  .input-group input {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
  }

  .form-box {
    width: inherit;
  }

  .header {
    margin-top: 0px;
  }

}




/* RElay devices control section */
.relay-device-name {
  /* font-size: large; */
  color: #fefae0;
  margin-left: 20px;
}

.deviceBtn {
  /* padding: 0.5rem; */
  outline: none;
  height: 100px;
  width: 100px;
  border-radius: 200px;
  transition: ease-in-out 0.2s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:15px ;
}

.device-edit-input {
  border: none;
  outline: 1px solid #4a5762;
  padding-block: 2px;
  padding-inline: 7px;
  width: 150px;
}

.device-edit-btn {
  background-color: #272d2d;
  outline: none;
  border: none;
}

.turnOn {
  /* background-color: greenyellow;
    border: 2px solid green; */

  /* background-color: rgb(255, 11, 11); */
  background-color: #c95b17;
  border: 2px solid rgb(210, 100, 4);


}

.turnOff {

  /* background-color: rgb(147, 216, 42); */
  background-color: rgb(42, 114, 216);
  border: 2px solid rgba(146, 88, 233, 0.199);
  box-shadow: 0 5px 30px rgb(99, 150, 254);
}

.hidden {
  display: none;
}

.outerSpan {
  border: 4px solid red;
  width: 60px;
  height: 30px;
  position: relative;
  top: 35px;
}

.ping {
  /* background: #fff; */
  /* border-radius: 50%; */
  border: 50px solid #222;
  /* width: 20px;
    height: 20px; */
  animation: load 1.5s ease-out infinite;
}

@keyframes load {
  0% {
    /* background: #fff; */
    border: 0px solid #fff;
  }

  50% {
    /* background: #fff; */
    border: 20px solid #222;
  }

  100% {
    /* background: #fff; */
    border: 0px solid #222;
  }
}


/* add twinkles  */

@media only screen and (max-width: 600px) {
  .dashboard-welcome-message {
    font-size: 14px;
  }

  .dashboard-catchphrase {
    font-size: 12px;
  }
}












/* test bg */
/***************************************************
 * Generated by SVG Artista on 1/6/2025, 9:13:06 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1576.0439453125px;
    stroke-dasharray: 1576.0439453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1576.0439453125px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 1576.0439453125px;
    stroke-dasharray: 1576.0439453125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1576.0439453125px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s linear 0s both;
  animation: animate-svg-stroke-1 1s linear 0s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 1034.151123046875px;
    stroke-dasharray: 1034.151123046875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1034.151123046875px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 1034.151123046875px;
    stroke-dasharray: 1034.151123046875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1034.151123046875px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s linear 0.12s both;
  animation: animate-svg-stroke-2 1s linear 0.12s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 469.826904296875px;
    stroke-dasharray: 469.826904296875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 469.826904296875px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 469.826904296875px;
    stroke-dasharray: 469.826904296875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 469.826904296875px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s linear 0.24s both;
  animation: animate-svg-stroke-3 1s linear 0.24s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 775.940185546875px;
    stroke-dasharray: 775.940185546875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 775.940185546875px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 775.940185546875px;
    stroke-dasharray: 775.940185546875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 775.940185546875px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1s linear 0.36s both;
  animation: animate-svg-stroke-4 1s linear 0.36s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 1123.8380126953125px;
    stroke-dasharray: 1123.8380126953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1123.8380126953125px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 1123.8380126953125px;
    stroke-dasharray: 1123.8380126953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1123.8380126953125px;
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1s linear 0.48s both;
  animation: animate-svg-stroke-5 1s linear 0.48s both;
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 410.03558349609375px;
    stroke-dasharray: 410.03558349609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 410.03558349609375px;
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 410.03558349609375px;
    stroke-dasharray: 410.03558349609375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 410.03558349609375px;
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 1s linear 0.6s both;
  animation: animate-svg-stroke-6 1s linear 0.6s both;
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 757.9334716796875px;
    stroke-dasharray: 757.9334716796875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 757.9334716796875px;
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 757.9334716796875px;
    stroke-dasharray: 757.9334716796875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 757.9334716796875px;
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 1s linear 0.72s both;
  animation: animate-svg-stroke-7 1s linear 0.72s both;
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 847.966796875px;
    stroke-dasharray: 847.966796875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 847.966796875px;
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 847.966796875px;
    stroke-dasharray: 847.966796875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 847.966796875px;
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 1s linear 0.84s both;
  animation: animate-svg-stroke-8 1s linear 0.84s both;
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1477.8536376953125px;
    stroke-dasharray: 1477.8536376953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1477.8536376953125px;
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 1477.8536376953125px;
    stroke-dasharray: 1477.8536376953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1477.8536376953125px;
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 1s linear 0.96s both;
  animation: animate-svg-stroke-9 1s linear 0.96s both;
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 956.0068359375px;
    stroke-dasharray: 956.0068359375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 956.0068359375px;
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 956.0068359375px;
    stroke-dasharray: 956.0068359375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 956.0068359375px;
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 1s linear 1.08s both;
  animation: animate-svg-stroke-10 1s linear 1.08s both;
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 721.920166015625px;
    stroke-dasharray: 721.920166015625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 721.920166015625px;
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 721.920166015625px;
    stroke-dasharray: 721.920166015625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 721.920166015625px;
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 1s linear 1.2s both;
  animation: animate-svg-stroke-11 1s linear 1.2s both;
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 1267.891357421875px;
    stroke-dasharray: 1267.891357421875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1267.891357421875px;
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 1267.891357421875px;
    stroke-dasharray: 1267.891357421875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1267.891357421875px;
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 1s linear 1.3199999999999998s both;
  animation: animate-svg-stroke-12 1s linear 1.3199999999999998s both;
}