/* .app{ */
/* } */
.deviceBtn{
 padding: 0.5rem;
 outline: none;
 border-radius: 20px;
 transition: ease-in-out 0.2s ;
} 
.turnOn{
 background-color: greenyellow;
 border: 2px solid green;

}
.turnOff{
background-color: rgb(255, 11, 11);
border: 2px solid rgb(128, 9, 0);

}